{{> header}}
<div class="container create-form">
    <h3>Create a new product</h3>
    <form method="POST" action="/admin/store">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Product name</label>
                <input type="text" class="form-control" name="title" placeholder="Product name">
            </div>
            <div class="form-group col-md-6">
                <label for="brand">Brand name</label>
                <input type="text" class="form-control" name="brand" placeholder="Brand name">
            </div>
        </div>
        <div class="form-group">
            <label for="type">Type of product</label>
            <input type="text" class="form-control" name="type" placeholder="Serum, Cleansing, Moisturisers , .. ">
        </div>
        <div class="form-group">
            <label for="qty">Quantity of product</label>
            <input type="text" class="form-control" name="qty" placeholder="number: 10 ....">
        </div>
        <div class="form-group">
            <label for="price">Price of product</label>
            <input type="text" class="form-control" name="price" placeholder="number: 10 ....">
        </div>
        <div class="form-group">
            <label for="salePrice">Sale Price of product</label>
            <input type="text" class="form-control" name="salePrice" placeholder="number: 10 ....">
        </div>
        <div class="form-group">
                <label for="img">Image</label>
                <input type="file" class="form-control-file" id="img" name="img">
        </div>
        <div class="form-group">
            <label for="tag">Tag</label>
            <input type="text" class="form-control" name="tag" placeholder="Tag name ....">
        </div>
        <div class="form-group">
            <label for="main_detail_title">Main description title</label>
            <input type="text" class="form-control" name="main_detail_title" placeholder="Input here... ">
        </div>
        <div class="form-group">
    <label for="main_detail_description">Main description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="main_detail_description"placeholder="Provides short- and long-term moisturization .... "></textarea>
  </div>
        <div class="form-group">
            <label for="main_detail_feature">Feature</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="main_detail_feature"placeholder="Ingredient 1, Ingredient 2, ..."></textarea>
        </div>
        <div class="form-group">
            <label for="sub_detail_title">Sub description title </label>
            <input type="text" class="form-control" name="sub_detail_title"placeholder="Input here... ">
        </div>
        <div class="form-group">
            <label for="sub_detail_description">Sub description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="sub_detail_description"placeholder="Provides short- and long-term moisturization ...."></textarea>
        </div>
        <div class="form-group">
            <label for="sub_detail_feature">Feature</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="sub_detail_feature"placeholder="Provides short- and long-term moisturization ...."></textarea>
        </div>
        <div class="form-group">
            <label for="sub_detail_2">More detail information</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="sub_detail_2"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </form>

</div>
{{> footer}}