.new-arrivals {
  text-align: center; }
  .new-arrivals .title {
    text-transform: uppercase; }
  .new-arrivals p {
    margin-top: 50px;
    font-weight: 900;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
    letter-spacing: 3px; }
  .new-arrivals .brand {
    text-transform: uppercase; }
  .new-arrivals .box-product {
    display: inline-block;
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px; }
    .new-arrivals .box-product .slide-img {
      position: relative; }
      .new-arrivals .box-product .slide-img img {
        width: 300px;
        object-fit: cover; }
      .new-arrivals .box-product .slide-img .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden; }
        .new-arrivals .box-product .slide-img .overlay button:hover {
          transition: all ease 0.3s; }
      .new-arrivals .box-product .slide-img.slide-img:hover .overlay {
        visibility: visible;
        animation: fade 0.5s; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .new-arrivals .box-product .detail-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      box-sizing: border-box;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-align: left; }
      .new-arrivals .box-product .detail-box .type {
        flex-direction: column;
        font-weight: 600; }
        .new-arrivals .box-product .detail-box .type a {
          color: #222222;
          margin: 5px 0;
          letter-spacing: 0.5px;
          padding-right: 8px; }
      .new-arrivals .box-product .detail-box span {
        text-transform: uppercase;
        color: rgba(26, 26, 26, 0.5); }
      .new-arrivals .box-product .detail-box .price {
        color: #333333;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5px; }

.item-sale p {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  letter-spacing: 3px; }

.item-sale .title {
  margin-top: 50px;
  font-weight: 900;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  letter-spacing: 3px; }

.item-sale .box-product {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; }
  .item-sale .box-product .slide-img {
    position: relative;
    margin-left: 100px; }
    .item-sale .box-product .slide-img img {
      width: 400px;
      object-fit: cover; }
  .item-sale .box-product .detail-box {
    width: 100%;
    margin-left: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif; }
    .item-sale .box-product .detail-box .type {
      flex-direction: column;
      font-weight: 600;
      font-size: 1.4rem; }
      .item-sale .box-product .detail-box .type a {
        color: #222222;
        margin: 5px 0;
        letter-spacing: 1.5px;
        padding-right: 8px; }
    .item-sale .box-product .detail-box span {
      text-transform: uppercase;
      color: rgba(26, 26, 26, 0.5); }
    .item-sale .box-product .detail-box .price {
      color: #333333;
      font-weight: 600;
      font-size: 0.9rem;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 0.5px;
      text-align: left; }
      .item-sale .box-product .detail-box .price .sale-price {
        color: brown;
        font-weight: 600; }
    .item-sale .box-product .detail-box .buy-button {
      margin-top: 20px; }
      .item-sale .box-product .detail-box .buy-button span {
        color: brown;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif; }

@media (max-width: 939px) {
  .item-sale .box-product {
    display: block;
    text-align: center;
    margin-right: 14%; } }

.product-id {
  font-family: 'Poppins', sans-serif; }
  .product-id .container {
    max-width: 114rem;
    margin: 0 auto; }
  .product-id .row {
    height: calc(100vh -7rem);
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
    margin-top: 2rem; }
    .product-id .row .product {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem 0; }
      .product-id .row .product .product-img {
        width: 400px;
        top: 18%;
        left: 5%;
        margin-left: auto;
        margin-right: auto; }
    .product-id .row .infor-subtitle {
      font-weight: 600;
      font-size: 1rem;
      color: brown; }
    .product-id .row .infor-title {
      font-weight: 600;
      font-size: 1.5rem;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      line-height: 1.3rem; }
    .product-id .row .infor-description {
      margin-bottom: 3rem; }
    .product-id .row .infor-down {
      display: flex;
      justify-content: space-between;
      width: 85%; }
      .product-id .row .infor-down h3 {
        font-weight: bolder;
        font-size: 1rem; }
      .product-id .row .infor-down .select-item {
        display: inline-block;
        font-size: 0.7rem;
        color: black;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        border-radius: 0.5rem; }
        .product-id .row .infor-down .select-item.active {
          background-color: black;
          color: white; }
        .product-id .row .infor-down .select-item:not(:last-child) {
          margin-right: 1rem; }
      .product-id .row .infor-down .count-content {
        background-color: black;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        width: 7rem;
        height: 2.5rem; }
        .product-id .row .infor-down .count-content span {
          font-size: 0.7rem;
          color: white;
          cursor: pointer; }
    .product-id .row .count-title, .product-id .row .select-title {
      margin-bottom: 0.5rem; }
    .product-id .row .price {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85%; }
      .product-id .row .price .price-title {
        font-weight: 500;
        font-size: 1.4rem; }
      .product-id .row .price .price-btn {
        background-color: black;
        color: white;
        border: 1px;
        border-radius: 0.5rem;
        padding: 1.1rem 3rem; }
        .product-id .row .price .price-btn:hover {
          background-color: white;
          border: 1px solid black;
          color: black;
          text-decoration: none; }

.product-detail {
  margin: 50px auto; }

.containerLogin {
  width: 100vh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem; }
  .containerLogin .forgotpwd {
    display: block;
    text-align: right;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    transform: translateY(-1.2rem); }
    .containerLogin .forgotpwd a:hover {
      color: rgba(155, 8, 8, 0.925); }
  .containerLogin .signup {
    display: block;
    text-align: center;
    color: #999;
    font-size: 0.9rem; }
    .containerLogin .signup a:hover {
      color: rgba(155, 8, 8, 0.925); }
  .containerLogin .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white; }
  .containerLogin .btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black; }
  .containerLogin .social-text {
    padding: 0.7rem 0;
    font-size: 1rem; }
  .containerLogin .social-media {
    display: flex;
    justify-content: center; }

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.img img {
  width: 500px; }

.login-container {
  display: flex;
  align-items: center;
  text-align: center; }

.avatar {
  width: 100px; }

.Login-form {
  width: 360px; }
  .Login-form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333333; }

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9; }
  .input-div .username {
    margin-bottom: 4px; }
  .input-div .i {
    display: flex;
    justify-content: center;
    align-items: center; }
    .input-div .i i {
      color: #a5a5a5; }
  .input-div div {
    position: relative;
    height: 45px; }
    .input-div div h5 {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      font-size: 18px;
      transition: .3s; }
  .input-div input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555555; }

.containerSignup {
  width: 100vh;
  height: 100vh;
  display: block;
  margin: 2rem auto; }
  .containerSignup .login {
    display: block;
    text-align: center;
    color: #999;
    font-size: 0.9rem; }
    .containerSignup .login a:hover {
      color: rgba(155, 8, 8, 0.925); }
  .containerSignup .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    margin-top: 4rem;
    font-size: 1.2rem;
    outline: none;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white; }
  .containerSignup .btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black; }
  .containerSignup .social-media {
    display: flex;
    justify-content: center;
    padding: 0.7rem 0;
    font-size: 1rem; }

.signup-container {
  text-align: center;
  margin: 0; }

.avatar {
  width: 100px; }

.Signup-form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333333; }

.messages {
  text-align: left;
  padding-top: 2rem;
  padding-left: 1rem;
  color: red;
  font-size: 20px;
  border-bottom: 1px solid red; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

#BrandName {
  margin-left: 10%;
  font-weight: 900;
  font-family: 'Pacifico', cursive; }

#role {
  color: brown;
  font-size: 600; }

a {
  text-decoration: none; }

.banner-area {
  width: 100%; }

.navbar {
  font-weight: 600; }

.nav-item {
  padding: .5rem; }

.menu-area {
  position: static; }

.menu-area.dropdown-menu {
  width: 100%; }
  .menu-area.dropdown-menu .dropdown-item {
    text-align: center; }
  .menu-area.dropdown-menu h5 {
    text-align: center; }

.dropdown:hover .dropdown-menu {
  display: block; }

.carousel-item {
  min-height: 300px; }

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 150px;
  color: black; }
  .carousel-caption h5 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(107, 12, 12, 0.5); }
  .carousel-caption button {
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  footer p {
    color: #999; }
  footer h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; }
  footer .footer-top {
    padding: 80px 0; }
  footer .segment-one {
    padding-top: 20px; }
  footer .segment-two {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px; }
    footer .segment-two ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer .segment-two ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        line-height: 40px; }
        footer .segment-two ul li a {
          color: #999;
          text-decoration: none; }
  footer .segment-three {
    padding-top: 20px; }
    footer .segment-three a {
      border: 1px solid black;
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px; }
      footer .segment-three a i {
        font-size: 20px;
        color: black;
        padding: 10px; }
    footer .segment-three a:hover {
      border-color: #999; }
    footer .segment-three p {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding-bottom: 20px; }
  footer .segment-four {
    padding-top: 20px; }
    footer .segment-four .submitEmail {
      background-color: black;
      color: white;
      border: none;
      padding: 3px 15px;
      margin-left: -5px; }
    footer .segment-four .submitEmail:hover {
      background-color: white;
      color: #000;
      border: 1px solid;
      border-color: #999; }

.parallex {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/The-Skin-Care-Company-Grey-and-White-Background-1-1.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  text-align: center; }
  .parallex h1 {
    font-size: 55px; }
  .parallex p {
    font-size: 18px; }

.create-form {
  margin: 50px auto;
  letter-spacing: 0.1rem; }
  .create-form h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px; }

.user {
  margin-right: 8%; }
