<nav class="navbar navbar-expand-lg  navbar-light">
    <a class="navbar-brand" id="BrandName" href="/login">&larr;</a>
</nav>
<div class="container">
    <div class="containerSignup">
        <div class="signup-container">
                <img class="avatar" src="/img/undraw_Mail_sent_re_0ofv.svg">
                <h2>Check in your E-mail!</h2>
                <div class="login">
                    <span>We just emailed you with the instruction to reset your password</span>
                </div>
                <br>
                <div class="login">
                    <span>For any questions or problems,</span>
                </div>
                <div class="login">
                    <span>Please email us at</span>
                </div>
                <div class="social-media">
                    <h4 class="text-muted">kimicosmetic@gmail.com</h4>
                </div>
            </form>
        </div>
    </div>
