<nav class="navbar navbar-expand-lg  navbar-light">
    <a class="navbar-brand" id="BrandName" href="/login">&larr;</a>
</nav>
<div class="container">
    <div class="containerSignup">
        <div class="signup-container">
            <form class="Signup-form" action="/resetpassword" method="POST">
                <img class="avatar" src="/img/icons8-forgot-password-96.png">
                <h3>Forgot your password?</h3>
                <div class="login">
                    <span>Enter your E-mail address and we'll send you a link to reset your password ? </span>
                </div>
                {{#if hasErrors}}
                    <div class="messages">
                        {{#each messages}}
                            <p>{{this}} !!</p>
                        {{/each}}
                    </div>
                {{/if}}
                <div class="input-div username emailSend">
                    <div class="i">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div>
                        <input class="input" type="text" placeholder="Email" name="email">
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" class="btn btnEmailSend" value="Send Email">
            </form>
        </div>
    </div>
