<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
          <h2>GIỚI THIỆU</h2>
          <p class="text-justify">Orchid Cosmetics cung cấp các sản phẩm chăm
            sóc sắc đẹp chất lượng từ các thương hiệu nổi tiếng, cam kết chỉ bán
            sản phẩm chính hãng và đảm bảo chất lượng tốt nhất. Với đội ngũ nhân
            viên chăm sóc khách hàng tận tâm, Orchid Cosmetics là địa chỉ tin
            cậy để phái đẹp tìm kiếm các sản phẩm chăm sóc da, trang điểm và
            nhiều sản phẩm khác.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
          <h2>NHÃN HÀNG LIÊN KẾT</h2>
          <ul>
            <li><a href="https://luna.com.eg/">LUNA</a></li>
            <li><a
                href="http://mombeauty.com.vn/danh-muc/thuong-hieu/mukti/"
              >MUKTI</a></li>
            <li><a href="https://www.bobbibrowncosmetics.com/">BOBBI BROWN</a></li>
            <li><a href="https://www.philosophy.com/">PHILOSOPHY</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
          <h2>THEO DÕI CHÚNG TÔI</h2>
          <p class="text-justify">Kết nối với chúng tôi trên mạng xã hội để cập
            nhật những thông tin mới nhất về làm đẹp và khám phá các sản phẩm
            chăm sóc da, trang điểm và chăm sóc tóc chất lượng cao từ các thương
            hiệu hàng đầu tại Orchid Cosmetics.</p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
          <h2>THƯ ĐIỆN TỬ</h2>
          <p class="text-justify">Đăng ký để nhận thông tin mới nhất và khuyến
            mãi độc quyền</p>
          <form action="">
            <div class="input-group mb-2">
              <input
                type="text"
                name="email"
                placeholder="Email..."
                class="form-control"
              />
              <div class="input-group-prepend">
                <input class="submitEmail" type="submit" value="Đăng ký" />
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</footer>