<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    <h2>DIVINECTOR</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iure facere nobis minima. 
                        Perspiciatis eius similique eos eveniet ad nulla unde voluptas? Quos aspernatur quae accusamus facere illum molestias quod.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                    <h2>DIVINECTOR</h2>
                    <ul>
                        <li><a href="#">bdhdb</a></li>
                        <li><a href="#">bdhdbjdv</a></li>
                        <li><a href="#">sbvbdhdb</a></li>
                        <li><a href="#">ufybdhdb</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                    <h2>FOLLOW US</h2>
                    <p>Please follow us on the Social Media Profile in order to keep updated. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, quasi. Suscipit omnis vel, reiciendis temporibus dignissimos, 
                        recusandae dolores amet delectus quam facere repudiandae architecto rem magni tempora ipsa id obcaecati!</p>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                    <h2>NEWSLETTER</h2>
                    <p>Sign up to receive exclusive updates and content</p>
                    <form action="">
                        <div class="input-group mb-2">
                            <input type="text" name="email" placeholder="Email..." class="form-control">
                            <div class="input-group-prepend">
                                <input class="submitEmail" type="submit" value="Subscribe" >
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>

</footer>